<hr>

<div id="comments">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    &ensp;
    <%= comment.body %>
  </p>

  <hr class="hr__deletecomment">
  <p class="button__delete--comment">
    <%= link_to 'Delete Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <hr class="hr__deletecomment">
</div>
