<% if flash[:post_failure] %>
  <div class="div__message-failure">
    <p class="comment-message"><%= flash[:post_failure] %></p>
  </div>
<% end %>

<h1>New Article</h1>

<br>
<hr>
<br>


<%= render "form", article: @article %>

<br><br>
<hr>

<%= link_to "Back to Articles", root_path %>
