// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px black;
  border-radius: 0.5em;
  padding: 0.5em;
  display: inline-block;
}

a:hover {
  background-color: rgba(80, 80, 80, 0.493);
  box-shadow: 0 0 10px 5px rgba(80, 80, 80, 0.493);
}

hr {
  width: 30%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
  margin-bottom: 0.1em;
  font-family: fantasy;
}

h2 {
  font-size: 1.25em;
}

.underline {
  width: 40%;
  margin-bottom: 1em;
}

.links *{
  width: 10%;
  display: inline;
  margin-top: 0.5em;
  padding: 0.5em;
  font-weight: bold;
}

.nav__underline {
  margin-top: 1em;
}

.article {
  width: 30%;
  margin: auto;
}

input[type=text] {
width: 30%;
}

textarea {
  width: 30%;
  height: 20em;
}

#comments {
  width: 30%;
  margin: auto;
  text-align: left;
  padding: 1em 0 1em 0;
}

.button__delete--comment {
  text-align: center;
  font-weight: bold;
  margin: 0 0 0 0;
}

.hr__datecreated {
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  border-top: 1px dashed rgba(54, 54, 54, 0.021);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.hr__deletecomment {
  border-top: 1px dashed rgba(54, 54, 54, 0.021);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  margin: 0 0 0 0;
  position: absolute;
}

.div__commentmessage-success {
  margin: auto;
  width: 50%;
  height: 2em;
  background-color: rgb(104, 194, 30);
  border: 0.5px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.div__commentmessage-failure {
  margin: auto;
  width: 50%;
  height: 2em;
  background-color: rgb(194, 41, 30);
  border: 0.5px solid black;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.comment-message {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 90%;
  }

  .links *{
    width: auto;
  }

  hr, .underline {
    width: 80%;
  }

  .article, input[type=text], #comments, textarea {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  body {
    font-size: 70%;
  }
}
